---
title: Automated Testing Roundtables GDC 2016
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2016
  
.container
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Following the success of the debut roundtable last year, Automated Testing is back with three sessions in 2016.
      %p
        Each session focuses on a different discipline, but cut across team sizes, budgets, genres, and platforms. We don't care if you're a iOS-only one-person indie or a console juggernaut, we just want to hear your voice!
      %p
        We're keen to democratize the agenda of the roundtables, so all are heard. You can contribute to the topics of each talk by submitting ideas via email, or you can visit the trello board for each session to see, vote and comment on current topics. See each session below for details. Or just turn up on the day!
      %p
        Come back soon for scheduling details!
.container
  .row
    %p
.container  
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Implementation Roundtable
        .panel-body
          %p 
            <a href="http://schedule.gdconf.com/session/automated-testing-roundtable-implementation-day-1">11am, Wednesday March 16th, Room 123 North</a>
          %p
            Software automation has many faces, from locally-run functional and unit tests, to server-driven continuous integration, and even external device farms. How do you do automated testing in your team? What works well for you? More interestingly, what didn't work and why? 
        .panel-footer
          To suggest topics for this roundtable, email <a href="mailto:implementation@autotestingroundtable.com">implementation@autotestingroundtable.com</a>. To view, comment and vote on suggest topics, visit <a href="https://trello.com/b/TaNdDAIm/automated-testing-roundtables-gdc-2016-implementation">the Implementation trello board</a>.
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Process Roundtable
        .panel-body
          %p 
            <a href="http://schedule.gdconf.com/session/automated-testing-roundtable-process-day-2">4pm, Thursday March 17th, Room 124 North</a>
          %p
            Beyond the software that we use to test our games are the people that write the tests and the workflows they use to reinforce them. How does the process work in your studio? Are the engineers responsible for automated tests, or QA? Are QA silo'd or integrated? What could be better?
        .panel-footer
          To suggest topics for this roundtable, email <a href="mailto:process@autotestingroundtable.com">process@autotestingroundtable.com</a>. To view, comment and vote on suggest topics, visit <a href="https://trello.com/b/BDmtCJK1/automated-testing-roundtables-gdc-2016-process">the Process trello board</a>.
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Legacy Roundtable
        .panel-body
          %p 
            <a href="http://schedule.gdconf.com/session/automated-testing-roundtable-legacy-day-3">3pm, Friday March 18th, Room 123 North</a>
          %p
            As much as we would like otherwise, automated testing is still a rarity in our industry. Do you have a culture or a codebase that doesn't currently embrace automated testing? Are you having trouble getting people onboard, or maybe it was very easy and you want to share why? Grand failures are just as interesting as successes! 
        .panel-footer
          To suggest topics for this roundtable, email <a href="mailto:legacy@autotestingroundtable.com">legacy@autotestingroundtable.com</a>. To view, comment and vote on suggest topics, visit <a href="https://trello.com/b/drMC3Rok/automated-testing-roundtables-gdc-2016-legacy">the Legacy trello board</a>.

