---
title: Automated Testing Roundtables GDC 2019
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2019
  
.container
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Automated Testing is back for the fifth year of roundtables at GDC 2019!
      %p
        Each session focuses on a different discipline, but cut across team sizes, budgets, genres, and platforms. We don't care if you're a iOS-only one-person indie or a console juggernaut, we just want to hear your voice!
  %br
  .row
    .col-md-8.col-md-push-2
      %p.lead 
        Join the Community
      %p
        Check out some of the <a href="#recommend">talks around GDC 2019</a> that we recommend, and some of the <a href="#vault">vault talks</a> we've enjoyed in the past. 
      %p
        If you'd like to keep in touch all year round, why not join our Discord?
      %a.btn.btn-primary{:role => "button", :href => "https://discord.gg/knxeqcG"}
        Join the Discord!
.container
  .row
    %p
.container  
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Process Roundtable
        .panel-body
          %p 
            TBD
            -#<a href="http://schedule.gdconf.com/session/automated-testing-roundtable-day-1/851433">11am, Wednesday March 21st, Room 208 South</a>
          %p
            Beyond the software that we use to test our games are the people that write the tests and the workflows they use to reinforce them. How does the process work in your studio? Are the engineers responsible for automated tests, or QA? Are QA silo'd or integrated? What could be better?
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Legacy Roundtable
        .panel-body
          %p 
            TBD
            -#<a href="http://schedule.gdconf.com/session/automated-testing-roundtable-day-2/856812">11:30am, Thursday March 22nd, Room 208 South</a>
          %p
            As much as we would like otherwise, automated testing is still a rarity in our industry. Do you have a culture or a codebase that doesn't currently embrace automated testing? Are you having trouble getting people onboard, or maybe it was very easy and you want to share why? Grand failures are just as interesting as successes! 
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Implementation Roundtable
        .panel-body
          %p
            TBD
            -#<a href="http://schedule.gdconf.com/session/automated-testing-roundtable-day-3/856813">10am, Friday March 23rd, Room 208 South</a>
          %p
            Software automation has many faces, from locally-run functional and unit tests, to server-driven continuous integration, and even external device farms. How do you do automated testing in your team? What works well for you? More interestingly, what didn't work and why? 
%hr            
.container{:id => "recommend"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        More automated testing talks at GDC 2019
      %p
        We'll be filling this up in due course with promising talks from the conference scheduler.
      %p
        If you've spotted any that you think would be interesting to roundtable attendees, let us know in the <a href="https://discord.gg/knxeqcG">discord</a> or email <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>.
.container{:id => "vault"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Interesting talks to watch right now
      %p
        Here are some that we've enjoyed in previous years. If you know one that we aven't got listed here, from any year, let us know by dropping by the <a href="https://discord.gg/knxeqcG">discord</a>, or email <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>.
.container
  .row
    %p
.container  
  .row
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Tools to Reduce Open Bug Count at Media Molecule
        .panel-body
          %p 
            Amy Phillips
          %p
            <a href="https://gdcvault.com/play/1025013/Tools-Tutorial-Day-Tools-to">Play on the Vault</a>, FREE!
          %p
            How to improve the stability of your game by linking tools together and optimizing the path that bugs take between being introduced and being closed.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Automated Testing and Profiling for Call of Duty
        .panel-body
          %p 
            Jan van Valburg
          %p
            <a href="https://gdcvault.com/play/1025064/Automated-Testing-and-Profiling-for">Play on the Vault</a>
          %p
            You will learn about the inner workings of Call of Duty's automated building and testing tooling, it's various unique features, and how its ideas might be applied to your own projects.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Assassin's Creed Origins: Monitoring and Validation of World Design Data
        .panel-body
          %p 
            Nicholas Routhier
          %p
            <a href="https://gdcvault.com/play/1025054/-Assassin-s-Creed-Origins">Play on the Vault</a>
          %p
            Daily automated testing of world design data is a game changer. Attendees will learn how it helps world builders in their daily tasks, allows for more iteration time, provides data for evidence based decision making and makes for a much smoother debug phase.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Adopting Continuous Delivery At Rare
        .panel-body
          %p 
            Jafar Soltani
          %p
            <a href="https://gdcvault.com/play/1025028/Adopting-Continuous">Play on the Vault</a>
          %p
            You will learn about the benefits of adopting "continuous delivery" in AAA video games, what challenges you'd face and what practices you can use.
.container{:id => "notes"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Notes from previous years
      %p
        <a href="Notes2018DayOne.html">Notes from Process, 2018</a>
      %p
        <a href="Notes2018DayTwo.html">Notes from Legacy, 2018</a>
%hr            
.container          
  .row
    .col-md-8.col-md-push-2
      %p
        If you have any questions or just want to say hi: <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>, <a href="https://www.twitter.com/tenpn">@tenpn</a>
.container        
  %footer
    %p.pull-right
      &copy; Andrew Fray 2014-2019 n
