---
title: Automated Testing Roundtables GDC 2016
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2016
  
.container
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3
            Implementation Roundtable
        .panel-body
          Software automation has many faces, from locally-run functional and unit tests, to server-driven continuous integration, and even external device farms. How do you do automated testing in your team? What works well for you? More interestingly, what didn't work and why? Come talk implementation details with other professional developers. We don't care about your platform, your budget or your team size; we just want to hear your story.
        .panel-footer
          View and comment on topic suggestions at implementation.autotestingroundtable.com, and suggest new ones via implementation@autotestingroundtable.com. 
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3
            Process Roundtable
        .panel-body
          Beyond the software that we use to test our games are the people that write the tests and the workflows they use to reinforce them. How does the process work in your studio? Are the engineers responsbile for automated tests, or QA? Are QA silo'd or intergrated? We don't care about your platform, your budget or your team size; we just want to hear your story.
        .panel-footer
          View and comment on topic suggestions at process.autotestingroundtable.com, and suggest new ones via process@autotestingroundtable.com. 
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3
            Legacy Roundtable
        .panel-body
          Do you have a culture or a codebase that doesn't currently embrace automated testing? Do you have a story about trying to introduce automated testing to your team? Grand failures are just as interesting to us as sucesses! We don't care about your platform, your budget, or your team size; we just want to hear from you.
        .panel-footer
          View and comment on topic suggestions at legacy.autotestingroundtable.com, and suggest new ones via legacy@autotestingroundtable.com. 


