---
title: Automated Testing Roundtables GDC 2019
---

.jumbotron
  .container
    .text-info
      %h1
        AUTOMATED TESTING ROUNDTABLES
    %h2
      GDC 2020
  
.container
  .row
    .col-md-8.col-md-push-2
      %p.lead
        The Automated Testing Roundtables are back again at GDC 2020!
      %p
        Each session focuses on a different discipline, but cut across team sizes, budgets, genres, and platforms. We don't care if you're a iOS-only one-person indie or a console juggernaut, we just want to hear your voice!
  %br
  .row
    .col-md-8.col-md-push-2
      %p.lead 
        Join the Community
      %p
        Check out some of the <a href="#recommend">talks around GDC 2020</a> that we recommend, and some of the <a href="#vault">vault talks</a> we've enjoyed in the past. 
      %p
        If you'd like to keep in touch all year round, why not join our Discord?
      %a.btn.btn-primary{:role => "button", :href => "https://discord.gg/knxeqcG"}
        Join the Discord!
.container
  .row
    %p
.container  
  .row
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Process Roundtable
        .panel-body
          %p 
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtables-day-1-process/872654">Wednesday, TBC</a>
          %p
            Beyond the software that we use to test our games are the people that write the tests and the workflows they use to reinforce them. How does the process work in your studio? Are the engineers responsible for automated tests, or QA? Are QA silo'd or integrated? What could be better?
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Legacy Roundtable
        .panel-body
          %p 
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtables-day-2-legacy/872657">Thursday, TBC</a>
          %p
            As much as we would like otherwise, automated testing is still a rarity in our industry. Do you have a culture or a codebase that doesn't currently embrace automated testing? Are you having trouble getting people onboard, or maybe it was very easy and you want to share why? Grand failures are just as interesting as successes! 
    .col-md-4
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Implementation Roundtable
        .panel-body
          %p
            <a href="https://schedule.gdconf.com/session/automated-testing-roundtables-day-3-implementation/872658">Friday, TBC</a>
          %p
            Software automation has many faces, from locally-run functional and unit tests, to server-driven continuous integration, and even external device farms. How do you do automated testing in your team? What works well for you? More interestingly, what didn't work and why? 
%hr            
.container{:id => "recommend"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        More automated testing talks at GDC
      %p
        We'll be filling this up in due course with promising talks from the conference scheduler.
      %p
        If you've spotted any that you think would be interesting to roundtable attendees, let us know in the <a href="https://discord.gg/knxeqcG">discord</a> or email <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>.
%hr        
.container{:id => "vault"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Interesting talks to watch right now
      %p
        Here are some that we've enjoyed in previous years. If you know one that we haven't got listed here, from any year, let us know by dropping by the <a href="https://discord.gg/knxeqcG">discord</a>, or email <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>.
.container  
  .row
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            AI for Testing: The Development of Bots that Play 'Battlefield V'
        .panel-body
          %p 
            Jonas Gillberg, GDC 2019
          %p
            <a href="https://gdcvault.com/play/1025905/AI-for-Testing-The-Development">Play on the Vault</a>
          %p
            Bots designed specifically to help testing can be incredibly valuable. This talk provides some useful insight on how to develop and manage the workflow of such a system in a large team. 
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Automated Testing: Using AI Controlled Players to Test 'The Division'
        .panel-body
          %p 
            Jose Paredes, Pete Jones, GDC 2019
          %p
            <a href="https://gdcvault.com/play/1026069/Automated-Testing-Using-AI-Controlled">Play on the Vault</a>
          %p
            Bots seem to be a theme of GDC 2019! This is an hour session, compared to the 30min for the Battlefield session listed above, so looks to go into more detail. 
          %p
            We'd recommend seeing both if you can!
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Automated Testing of Gameplay Features in 'Sea of Thieves'
        .panel-body
          %p 
            Robert Masella <a href="https://twitter.com/ZipLockBagMan">@ZipLockBagMan</a>, GDC 2019
          %p
            <a href="https://gdcvault.com/play/1026042/Automated-Testing-of-Gameplay-Features">Play on the Vault</a>
          %p
            See Robert describe how Rare used multiple tiers of tests in unreal engine to have the confidence to ship Sea of Thieves updates <i>every week</i>.
          %p
            Also features the most astounding bug count graph in GDC history.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Level Up Your Jenkins Reporting
        .panel-body
          %p 
            Adrian Yu, GDC 2019
          %p
            <a href="https://gdcvault.com/play/1026019/Level-Up-Your-Jenkins">Play on the Vault</a>
          %p
            A talk by veteran roundtabler Adrian Yu on how EA uses Jenkins for continuous integration and deployment - vital tools in the belt of any serious automated tester.
          %p
            His talk is more than just a dive into Jenkins, as he promises to explain how they manage spam and notifications to make them truely useful, rather than noisy.
  .row
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            A QA Perspective on Live Game Production
        .panel-body
          %p 
            Michael Vork Larsen, GDC 2019
          %p
            <a href="https://gdcvault.com/play/1026088/A-QA-Perspective-on-Live">Play on the Vault</a>
          %p
            How RETO MOTO maintain stability in their live service game by involving QA early in an aglie process, including using automated testing. 
          %p
            Heros & Generals is a game that's been running for a while, so this promises to have some great insights. 
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Tools to Reduce Open Bug Count at Media Molecule
        .panel-body
          %p 
            Amy Phillips <a href="https://twitter.com/amy_phillips">@amy_phillips</a>, GDC 2018
          %p
            <a href="https://gdcvault.com/play/1025013/Tools-Tutorial-Day-Tools-to">Play on the Vault</a>, FREE!
          %p
            How to improve the stability of your game by linking tools together and optimizing the path that bugs take between being introduced and being closed.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Automated Testing and Profiling for Call of Duty
        .panel-body
          %p 
            Jan van Valburg, GDC 2018
          %p
            <a href="https://gdcvault.com/play/1025064/Automated-Testing-and-Profiling-for">Play on the Vault</a>, FREE!
          %p
            You will learn about the inner workings of Call of Duty's automated building and testing tooling, it's various unique features, and how its ideas might be applied to your own projects.
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Assassin's Creed Origins: Monitoring and Validation of World Design Data
        .panel-body
          %p 
            Nicholas Routhier, GDC 2018
          %p
            <a href="https://gdcvault.com/play/1025054/-Assassin-s-Creed-Origins">Play on the Vault</a>, FREE!
          %p
            Daily automated testing of world design data is a game changer. Attendees will learn how it helps world builders in their daily tasks, allows for more iteration time, provides data for evidence based decision making and makes for a much smoother debug phase.
  .row
    .col-md-3
      .panel.panel-danger
        .panel-heading
          %h3.text-center
            Adopting Continuous Delivery At Rare
        .panel-body
          %p 
            Jafar Soltani, GDC 2018
          %p
            <a href="https://gdcvault.com/play/1025028/Adopting-Continuous">Play on the Vault</a>, FREE!
          %p
            You will learn about the benefits of adopting "continuous delivery" in AAA video games, what challenges you'd face and what practices you can use.
.container{:id => "notes"}
  .row
    .col-md-8.col-md-push-2
      %p.lead
        Notes from previous years
      %p
        <a href="Notes2018DayOne.html">Notes from Process, 2018</a>
      %p
        <a href="Notes2018DayTwo.html">Notes from Legacy, 2018</a>
%hr            
.container          
  .row
    .col-md-8.col-md-push-2
      %p
        If you have any questions or just want to say hi: <a href="mailto:andrew@autotestingroundtable.com">andrew@autotestingroundtable.com</a>, <a href="https://www.twitter.com/tenpn">@tenpn</a>
.container        
  %footer
    %p.pull-right
      &copy; Andrew Fray 2014-2020 n
