---
title: Automated Testing Roundtables GDC 2016
---
.container
  %br
  %br
  .row
    .col-md-6.col-md-push-3
      .panel.panel-info
        .panel-heading
          %h3.text-center
            Sumission successful!
        .panel-body
          %p
            Thanks for contributing to the GDC Automated Testing Roundtables! We'll use your topic in the suggested session.
          %p
            See you in San Francisco!
          %a{:href => "index.html"}
            Back to the main page
